<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
  </particles>
<div class="row">
    <div class="col s12">
      <div class="browser-window">
        <div class="top-bar">
          <div class="circles">
            <div id="close-circle" class="circle"></div>
            <div id="minimize-circle" class="circle"></div>
            <div id="maximize-circle" class="circle"></div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div id="site-layout-example-top" class="col s12">
              <p class="flat-text-logo center  caption-uppercase">Desculpe, não conseguimos encontrar a página :(</p>
            </div>
            <div id="site-layout-example-right" class="col s12 m12 l12">
              <div class="row center">
                <h1 class="text-long-shadow teal-text col s12">404</h1>
              </div>
              <div class="row center">
                <p class="center col s12">Essa página não existe</p>
                  <p>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>