<div class="row">

  <div class="col s12 m12 l7">
    <h4 class="teal-text">Cadastrar Permissão</h4>
    
    <div class="input-field col s12">
        <select [(ngModel)]="nomePessoa" [ngModelOptions]="{standalone: true}" materialize="material_select" [materializeSelectOptions]="listaPaciente">
          <option value="">SELECIONE UM PACIENTE</option>
          <option *ngFor="let item of listaPaciente" value="{{item.id}}">{{item.name}}</option>
        </select>
        <label>Pacientes</label>
      </div>
  </div>

  <div class="col s12 m12 l5">
    <h4 class="teal-text">Definidos</h4>
    <div class="col s12 m12 l12">
      <button type="button" (click)="addPermitions(1)" class="btn-floating btn-large"><i class="material-icons white-text">filter_1</i></button>
      <button type="button" (click)="addPermitions(2)" class="btn-floating btn-large"><i class="material-icons white-text">filter_2</i></button>
      <button type="button" (click)="addPermitions(3)" class="btn-floating btn-large"><i class="material-icons white-text">filter_3</i></button>
    </div>
  </div>

  <div class="col s12 m12 l6">
    <h4 class="teal-text">Exercícios</h4>
    <table class="bordered highlight">
      <thead>
      <th>Nome</th>
      <th>Nivel</th>
      <th>Opções</th>
      </thead>
      <tbody>
      <tr *ngFor="let x of listaGrasp">
        <td>{{x.exercise.title}}</td>
        <td>{{x.level.level}}</td>
        <td>
          <button type="button" class="btn-floating z-depth-2" (click)="addPermition(x)">
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12 m12 l6">
    <h4 class="teal-text">Permitidos</h4>
    <table class="bordered highlight">
      <thead>
      <th>Nome</th>
      <th>Nivel</th>
      <th>Opções</th>
      </thead>
      <tbody>
      <tr *ngFor="let y of listPermition">
        <td>{{y.grasp.exercise.title}}</td>
        <td>{{y.grasp.level.level}}</td>
        <td>
          <button type="button" class="btn-floating z-depth-2" (click)="remPermition(y)">
            <i class="material-icons">keyboard_arrow_left</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="fixed-action-btn">
      <a class="btn-large btn-floating green pulse" type="submit" (click)="save()"><i class="material-icons">save</i></a>
    </div>
</div>
