<div class="row">
  <div class="col s3">

  </div>
  <div class="col s6">
    <form materialize>
      <div class="row">
        <h4 class="teal-text ">Cadastrar Fisioterapeuta</h4>
        <div class="input-field col s12">
          <input id="nome" autofocus type="text" [(ngModel)]="responsible.name" [ngModelOptions]="{standalone: true}" class="validate">
          <label for="nome" data-error="Invalido" data-sucess="Correto">Nome</label>
        </div>
        <div class="input-field col s12">
          <input id="newEmail" autofocus type="email" [(ngModel)]="responsible.email" [ngModelOptions]="{standalone: true}" class="validate">
          <label for="newEmail" data-error="Invalido" data-sucess="Correto">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="newSenha" autofocus type="password" [(ngModel)]="responsible.password" [ngModelOptions]="{standalone: true}" class="validate">
          <label for="newSenha" data-error="Invalido" data-sucess="Correto">Senha</label>
        </div>
        
        <div class="row">
        <div class="col s12 m6 l4">
          <button class="btn btn-large waves-effect waves-light" type="button" name="action" (click)="save()">Cadastrar</button>
        </div>
        <div class="col s12 m6 l4">
          <button class="btn btn-large waves-effect red" type="button" name="action" routerLink="">Cancelar</button>
        </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col s3">

  </div>
</div>
