
<div class="col s12 m12 l12">
  <h4 class="teal-text">
    <strong>{{paciente?.name}}</strong>
  </h4>
</div>

<div class="col s12 m12 l12">
  <div class="col s12 m6 l5">
  <p>
    <b>Matricula :</b>
    {{paciente?.registration}}
    <br>
    <b>Telefone :</b>
    {{paciente?.phone}}
    <br>
    <b>Progresso :</b>
    {{paciente?.progress}}
    <br>
    <b>Responsável :</b>
    {{paciente?.parent}}
    <br>
    <b>Contato :</b>
    {{paciente?.phoneParent}}
  </p>
  </div>
</div>

  
  <div>
    <p><b>Tempo Medio</b></p>
    <div id="chart2"></div>
    <p><b>Tempo Medio</b></p>
    <div id="chart"></div>
    <p><b>Tempo por Exercício</b></p>
    <div id="chart3"></div>
  </div>