<h4 class="teal-text">
  <strong>{{paciente?.name}}</strong>
</h4>

<p>
  <b>Responsável :</b>
  {{paciente?.responsible?.name}}
  <br>
  <b>Matricula :</b>
  {{paciente?.registration}}
  <br>
  <b>Telefone :</b>
  {{paciente?.phone}}
  <br>
  <b>Progresso :</b>
  {{paciente?.progress}}
  <br>
  <b>Parente :</b>
  {{paciente?.parent}}
  <br>
  <b>Contato :</b>
  {{paciente?.phoneParent}}
</p>


<div>
  <p>
    <b>Tempo Medio</b>
  </p>
  <div id="chart"></div>
  
  <p>
    <b>Escala Borgh</b>
  </p>
  <div id="chart2"></div>
  
  <p>
    <b>Tempo por Exercício</b>
  </p>
  <div id="chart3"></div>
</div>